* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    font-size: 15px;
    color: #fff;
    background: linear-gradient(to right, #363795, #005c97);
}

/* General styles */
.page-container {
    width: 480px;
    max-width: 100%;
    padding: 16px;
    margin: 0 auto;
}
section {
    margin-bottom: 32px;
}

section .section-title {
    font-size: 24px;
    margin-bottom: 16px;
}

/* Header styles */

header {
    background-image: url('./images/nori-pe-cer.webp');
    height: 250px;
    background-position: center center;
    background-size: cover;

}

/* Profile styles */
.profile-details {
    text-align: center;
}

.tags{
    text-align: center;
}

.profile-image {
width: 150px;
height: 150px;
display: inline-block;
margin-top: -75px;
margin-left: 150px;


}
.profile-image img {
    max-width: 100%;
    border-radius: 50%;
}
.profile-details {
    font-size: 16px;
    margin: 24px 0;
}
.profile-details h1 {
    font-size: 32px;
    margin-bottom: 16px;
}
.tags span {
    font-size: 14px;
    background-color: #3d64a6;
    padding: 8px;
    border-radius: 5px;

}
/* Profile links style */

.profile-links {
    list-style: none;
}

.profile-links li a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #3d64a6;
    padding: 16px;
    display: block;
    margin: 8px 0px;
    border-radius: 5px;
}
.profile-links li a:hover {
    background-color: #2b579e;
}

